<p>
    <b>First name: </b> {{firstName}}
</p>
<p>
    <b>Last name: </b> {{lastName}}
</p>
<br>
<p>
    <b>Full name: </b> {{getFullName()}}
</p>

<p>
    <b>Evaluation and convertion to string - </b>{{1 + 1 + getFullName()}}
</p>

<img [src]="imageSrc" [title]="imageTitle">


<input type="checkbox" readonly [checked]='flag' /> flag


<div [class]="currentClasses">Hello world 1</div>
<button (click)="toggleAllClasses()">Toggle All Classes</button>

<hr />

<div
    [class.accent-border]="isAccentBorder"
    [class.error-text]="isErrorText"
    [class.highlghted]="isHighlighted" >

    Hello world 2
</div>